<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- Configuración de la cadena de conexión -->
		<add name="PartidosGestionConn"
			 connectionString="Data Source=DESKTOP-IUHOVMC\SQLEXPRESS;Initial Catalog=GestionDePartidos;Integrated Security=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>